h2 {
  text-align: center;
}

#background {
  background-image: url("https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  height: 800px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.center {
  margin-top: 100px;
  margin-bottom: 150px;
  text-align: center;
}

#myInfo {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  font-weight: bold;
}

#about {
  margin-top: 300px;
  margin-bottom: center;
  background: rgba(181, 181, 199, 0.2) !important;
}

#projects {
  background-color: rgb(213, 232, 238);
  padding-top: 3%;
  padding-bottom: 3%;
}

#aboutMe {
  background-color: rgb(64, 64, 65);
  padding-top: 3%;
  padding-bottom: 3%;
}

#aboutText {
  color: lightgray;
}

#aboutTitle {
  color: white;
}
